[2015-06-14 12:03] Deraen opened #2 "Faster recompilation"
Currently when using this together with watch task with 20 posts recompilation takes maybe 1.5 seconds. This could probably be made much faster by only parsing the changed md files.

Idea:
- Instead of writing metadata to a file, assoc it to fileset metadata
- Store metadata as a map of md file -> metadata
- Markdown task would check for changed files and update those in the metadata

[2015-06-14 12:04] Deraen opened #3 "Reload blog specific Clojure code"
If I change e.g. post or collection render function I have to restart boot to see the changes. I can think of two alternatives to make this work with watch task so that the changes are picked up instantly.
1. A task witch uses clojure.tools.namespaces refresh
2. render and collection tasks are instead run inside a new pod each time

I would probably prefer the second option. It should be quite fas

[2015-06-14 18:10] podviaznikov commented on #2
It's and interesting idea to store everything in fileset  metadata.
Are you proposing to get read of `meta.edn` completely?

[2015-06-14 18:11] podviaznikov commented on #3
Thanks for the idea. Let me read about pods more.

[2015-06-14 18:11] Deraen commented on #2
To get rid of meta.edn. Yes.

But the more important change would be to store metadata in map and parse only changed files. Using fileset metadata is not required for this.

[2015-06-14 18:16] podviaznikov commented on #2
And how would you pass that map between boot tasks? You want to have global map accessible from all the tasks?

[2015-06-14 18:24] Deraen commented on #2
If I remember correctly, this should work:

[code]

[2015-06-14 18:27] podviaznikov commented on #2
I think I like that. Never used `meta` before but it's seems like a really good use-case to try.
Let me play with this

[2015-06-14 18:28] Deraen commented on #2
Check https://github.com/Deraen/boot-less/blob/master/src/deraen/boot_less.clj#L29-L32 for example how to find which files changed runs.

[2015-06-14 21:46] podviaznikov opened #8 "Parse markdown metadata specified in Jekyll style"
See http://jekyllrb.com/docs/frontmatter/

[2015-06-14 22:05] podviaznikov opened #9 "Add dbug messages to the core tasks"

[2015-06-14 22:07] podviaznikov commented on #8
Would be easier when if this task is done: https://github.com/yogthos/markdown-clj/issues/46

[2015-06-16 07:09] podviaznikov commented on #2
I have PR (https://github.com/hashobject/perun/pull/11) to store all metadata as map md->file metadata (as was suggested).

[2015-06-17 04:26] podviaznikov commented on #2
I was thinking about this and now faster recompilations makes more sense. I saw how you are using perun with http-server and livereload and it makes sense that you want faster reloads.
My initial workflow was different and I didn't care about speed before. But I think I like your workflow more. And I like that boot just allows us to chain those tasks together.

[2015-06-17 05:12] podviaznikov commented on #8
@martinklepsch this is now in master. So you should switch to YAML metadata now.

[2015-06-17 05:12] #8 closed, assigned to nobody

[2015-06-17 06:54] martinklepsch commented on #8
Great! Nice work!
On Wed 17 Jun 2015 at 07:12 Anton Podviaznikov notifications@github.com
wrote:

[2015-06-18 03:16] podviaznikov opened #14 "New plugin: meta"
I want to have plugin where I can specify some global settings that would be accessible to all templates.
E.x. I'm thinking that `base_url`, `site_name`, `copyright_dates` are repetitive and can be used on any page.
Right now there os no way of specifying such options globally for all tasks.

I'm thinking creating super simple task called `meta`. Some thing like this:

[code]

Thank this meta can

[2015-06-18 03:16] podviaznikov commented on #14
@martinklepsch, @Deraen let me know what you think about this one

[2015-06-18 05:48] Deraen commented on #14
Good idea. Instead of defining the metadata in build.boot, could be useful to read the data from file, then boot doesn't have to be reloaded to see the changes and it would keep build.boot simpler.

[2015-06-18 06:20] podviaznikov commented on #14
That is a good point about reloading. Reading from file makes more sense now to me.

[2015-06-18 06:20] podviaznikov commented on #2
Fixed in https://github.com/hashobject/perun/pull/15

[2015-06-18 06:20] #2 closed, assigned to nobody

[2015-06-18 07:16] martinklepsch commented on #14
Yeah. The main.cljs.edn approach in boot-cljs came to mind :)
On Thu 18 Jun 2015 at 08:20 Anton Podviaznikov notifications@github.com
wrote:

[2015-06-18 16:48] martinklepsch opened #16 "remove +defaults+"
Would you accept a PR removing `+defaults+` looks like dead code and in my opinion task option defaults should probably be documented on a per task basis.

[2015-06-18 16:52] martinklepsch opened #17 "look for metadata with dashes by default"
Instead of looking for metadata like `date_published` be default it seems more idiomatic to look for `date-published`. As far as I understand both are valid YAML keys.

Happy to create a PR if wanted.

[2015-06-18 17:00] podviaznikov commented on #16
Yes, it seems dead. Will accept PR for sure.

[2015-06-18 17:01] podviaznikov commented on #17
I think makes sense to use Clojure convention. @Deraen what do you think should be default?

[2015-06-18 17:04] Deraen commented on #17
:+1:

[2015-06-18 17:11] martinklepsch commented on #17
Cool. PR incoming.

[2015-06-18 17:26] #17 closed, assigned to nobody

[2015-06-18 18:16] #16 closed, assigned to nobody

[2015-06-18 21:06] martinklepsch opened #20 "Convention for metadata written by tasks"
Probably a good idea to establish some sort of namespacing for metadata i.e. `perun/markdown` can only write to `:perun/markdown` key in metadata.

[2015-06-18 23:04] martinklepsch opened #22 "Use a more specific key than `:metadata`"
Currently perun related metadata is stored in `:metadata` in the vars metadata. Inception.
It seems like a good idea to me to use a more descriptive perun-specific key to avoid collisions with other tasks and just overall be clearer about what's in there.

Simple suggestion: `:io.perun`.

[2015-06-18 23:47] podviaznikov commented on #22
I think it makes space to namespace fileset metadata. +1

[2015-06-19 03:42] podviaznikov commented on #20
Can you describe with more details why that might be useful?

[2015-06-19 04:52] #9 closed, assigned to nobody

[2015-06-19 08:17] martinklepsch commented on #20
I was just thinking that if perun encourages people to extend it with other tasks there probably should be some convention about how/where they store task related data.

Given we change the `:metadata` key to `:io.perun` or something similar as discussed in #22 the structure could end up looking like this

[code]

i.e. there is some loose mapping from task name to the keys the tasks write to. Curr

[2015-06-19 16:17] #22 closed, assigned to nobody

[2015-06-19 17:31] podviaznikov commented on #20
Not 100% sure about this. In such case tasks further in the chain need to know name of props like `markdown/html`. This seems to introduce explicit coupling between tasks. E.x. now renderer task function should be aware of `markdown/html`.
My initial idea was to have some default props for each task (like `content`, `ttr`) but name of that property can be changed using task options.

[2015-06-19 17:34] podviaznikov opened #27 "New plugin: tags"
I'm thinking about creating tags plugin like this (https://github.com/totocaster/metalsmith-tags).
@martinklepsch, @Deraen do you need tag pages for your blogs, or it's not important right now?

[2015-06-19 17:45] martinklepsch commented on #20
I see your general point but doesn't the renderer function now equally need to be aware of `:content`?

Making them customizable is probably a good idea in any case.

[2015-06-19 17:46] martinklepsch commented on #27
I personally don't use tags currently. Would still be a useful addition I guess.

[2015-06-19 18:29] podviaznikov commented on #20
I'm thinking that if you replace `markdown` with some other task/plugin `render` function would still work if it uses `:content`. Basically I see `:content` is like interface and `:markdown/html` as implementation detail.

Another idea: we can have some global option that turns namespacing on/off. This way we might have both solutions.

[2015-06-19 18:45] martinklepsch commented on #20
@podviaznikov I'll think about this a bit more but one thing to keep in mind is that the `render` task does not directly use `:content`, only the function supplied as `renderer` does. And this function is user supplied.

[2015-06-20 07:11] Deraen commented on #27
Yeah I would probably use this.

[2015-06-20 16:35] #3 closed, assigned to nobody

[2015-06-20 16:43] Deraen opened #30 "Split render tasks in two"
The `render` and `collection` task implementations could be split into `render-hiccup`, `collection-hiccup` and `write-html` tasks I think.

A use case would be to do some transformations to hiccup in between:

[code]

`render` and `collection` could still work as is, they would just combine two other tasks:

[code]

I could implement this when I have need for this. For now I'm using Highlight.js.

[2015-06-20 16:47] podviaznikov opened #31 "Priorities and features"
@martinklepsch and @Deraen let me know what do you think are the most important tasks to work on.

I can see following potential tasks (add more if yours are different):
- add new tasks/plugins
- improve existing plugins/tasks (E.x. I think I still have bug where sitemap ignore generated pages from the collections plugin)
- improve/Rewrite Readme
- improve error handling in Perun. E.x. validate sy

[2015-06-20 16:57] podviaznikov commented on #30
Interesting. This might be useful if we have `highlight` task.
What else can be done after html rendering? Validation, but I don't think people doing it those days?

[2015-06-20 16:58] Deraen commented on #30
Hyphenation would be another transformation I would use if available. I'm not sure if it should be done to  the hiccup or to markdown content directly.

[2015-06-20 19:17] podviaznikov commented on #30
Interesting, never heard of `hyphenation` before. Is anyone doing it? How does it work?

[2015-06-20 19:34] Deraen commented on #27
Unless someone else wants to implement this, I can eventually do this.

[2015-06-20 19:37] Deraen opened #32 "New plugin: highlight code"
Might require splitting the render if half so hiccup can be modified. Or could maybe work on existing html. (#30).

But first we need highlighting lib usable from Boot. There doesn't seem to be any maintained Java implementations. [Jygments](https://github.com/tliron/jygments) looks the most useful but it is not released on maven.

Instead we could use a pod with Jython and use Pygments (a python

[2015-06-20 19:39] Deraen opened #33 "New plugin: hyphenate"
Depending on which phase this is done, might require splitting rending task (#30) or something. Best candidates are probably to hyphenate hiccup data or html.

I'm working on converting python hyphenation implementation to Clojure and once that is done it should be quite easy to implement a task for this.

[2015-06-20 19:41] Deraen commented on #30
https://github.com/mnater/hyphenator is probably one of the more used libs. I'm working on clojure port.

[2015-06-20 19:42] Deraen commented on #30
Lets see what highlight or hyphenate tasks require before changing how render works.

[2015-06-20 20:32] podviaznikov commented on #32
I used to have library (https://github.com/hashobject/pygmenter. ) which is very similar to code from `https://github.com/tailrecursion/boot-hoplon/blob/master/src/tailrecursion/boot_hoplon/pygments.clj`.
But example from tailrecursion has more options (and I didn't maintained mine version much).

I agree that having nice highlighting library is good. Also agree that highlight plugin would be very

[2015-06-20 20:33] podviaznikov commented on #27
Cool, go ahead:) We have plenty of plugins in the pipeline.

[2015-06-20 20:37] podviaznikov commented on #14
@martinklepsch what do you mean by `main.cljs.edn` approach in boot-cljs? Are you referring to this file https://github.com/adzerk-oss/boot-cljs/blob/0e1dbee515fd7da31950c0de8eab99acddaabbe3/src/adzerk/boot_cljs/middleware.clj#L33?

[2015-06-20 21:54] martinklepsch commented on #30
Technically the `render` and `collection` tasks are no coupled to hiccup right? They could use any kind of templating thing theoretically. I think not imposing anything here is a good thing.

For post processing like hyphenation/highlighting html strings could be easily converted into more ergonomic data structures as part of the (.e.g. hyphenation) task.

[2015-06-20 21:56] martinklepsch commented on #14
@podviaznikov I was referring to this: https://github.com/adzerk-oss/boot-cljs#multiple-builds

[2015-06-20 22:26] martinklepsch commented on #20
@Deraen do you have thoughts on establishing some sort of convention for tasks and the keys in metadata they're writing to?

[2015-06-21 07:22] Deraen commented on #20
Not really. But I would avoid anything which prevents using `:keys` destructuring, like namespace qualified keywords.

[2015-06-29 17:00] podviaznikov opened #41 "canonical_url"
Each post should have `canonical-url` property. This can be calculated as "domain"+"post url"

[2015-07-04 20:12] Deraen commented on #27
Btw. this might not need as much as a task but just a custom renderer, finding the tags is just one reduce away anyway.

[2015-07-04 20:42] Deraen opened #43 "New plugin: Atom XML"
RSS doesn't contain the complete post content so it's quite useless, I guess Atom XML is more common these days. Luckily it's trivial to write the XML using data.xml even in the project, but I guess this is so common that we should provide an existing task for this:

[code]

[2015-07-05 00:56] podviaznikov commented on #43
I'm up for including this into perun as task for sure:)

[2015-07-05 09:32] Deraen opened #46 "Support strikethroughs"
**Waiting for** theJohnnyBrown/endophile#8

[2015-07-05 15:25] #14 closed, assigned to nobody

[2015-07-05 15:29] podviaznikov commented on #41
Implemented in #42

[2015-07-05 15:29] #41 closed, assigned to nobody

[2015-07-06 02:08] #31 closed, assigned to nobody

[2015-07-13 08:58] greywolve opened #48 "Allow markdown task to use an external markdown parser"
I've added this in a fork over [here](https://github.com/greywolve/perun/blob/master/src/io/perun.clj#L36). I wanted this so I could use [Pandoc](http://www.pandoc.org) instead of Endophile for markdown parsing. Would you be interested in supporting this ?

[code]

Thanks for the library by the way, really cool idea.

[2015-07-13 09:22] Deraen commented on #48
This is definitively an interesting idea. Pandoc can also do code highlighting (#32).

I wonder if an separate task and maybe library would be good idea for this?

Separate task might be good choice as it would be useful to define option for Pandoc and we probably don't want to make markdown task too complicated.

[2015-07-13 09:28] greywolve commented on #48
I was going to make an isolated task, but then I realized it would be basically reusing all the same code that already exists, barring a few small changes. Though you are probably right, it makes more sense as a separate task. I'd be happy to make one (though there will be a fair bit of duplication).

[2015-07-13 09:29] Deraen commented on #48
Once it's separated as a task we could probably move the shared logic to functions.

[2015-07-13 09:34] Deraen commented on #48
Might also be useful to create Clojure wrapper for Pandoc, like: https://github.com/pvorb/scala-pandoc

Mostly it would just translate given options to cli arguments, and take care of calling the command properly.

[2015-07-13 09:36] greywolve commented on #48
Great idea. :) I'll get onto this.

[2015-07-13 09:38] Deraen commented on #48
And note about using `conch`, you shouldn't add transitive dependencies to the perun and instead you should add the dependencies to just the pods.

But as it happens, boot is already using `conch`: https://github.com/boot-clj/boot/blob/master/boot/pod/src/boot/from/me/raynes/conch.clj so you can use `boot.from.me.raynes.conch` ns in your code without adding any dependencies.

... Though if Pandoc

[2015-07-13 09:46] greywolve commented on #48
Ahh, I knew boot was using `conch` but wasn't aware they actually had it copied to a namespace inside boot, good to know!

[2015-07-13 16:33] podviaznikov commented on #48
@greywolve it's a great idea to add pandoc support. I think it would be useful.
I usually check metalsmith for the inspirations (http://www.metalsmith.io/), they also have `pandoc` as separate task with task specific options: https://github.com/arve0/metalsmith-pandoc.
So I also agree with @Deraen suggestion to make separate task.

[2015-07-13 19:33] Deraen commented on #48
Would be cool if Pandoc support could be implemented using shared library (https://github.com/ShabbyX/libpandoc) and JNA. Then users wouldn't even need to install the binary.

Unfortunately it looks to be really hard to build libpandoc because Haskell dependency hell.

[2015-07-20 20:19] martinklepsch commented on #46
This still waiting for a release or is it included in `[endophile "0.2.0-SNAPSHOT"]`?

[2015-07-20 20:21] martinklepsch commented on #48
I think this would be really cool. Pandoc seems very comprehensive and the speed pegdown is moving at is a blocking factor for me right now.

[2015-07-20 20:22] Deraen commented on #46
It's included in `0.2.0-SNAPSHOT` but such version is not yet pushed to clojars.

[2015-07-21 08:12] nicorikken opened #49 "New plugin: Asciidoctor"
I'm working on an Asciidoc parser using [Asciidoctor](http://asciidoctor.org/). The Ruby commands are run in [boot-jruby](https://github.com/tobias/boot-jruby). As it is being used for documentation, the intention is to use the diagram back-end for generating PlantUML and Graphviz images to be included in the final doc. Generating pdf versions on the side would be another option, but in my opinion

[2015-07-21 21:40] podviaznikov commented on #49
@nicorikken having Asciidoctor pluging would be great.
Also in my opinion generating pdfs or ebooks can totally be Perun plugins at some point.

Regarding your questions/points:
1. is it know issue with boot (too many characters eval in the pod)?
2. sounds good. I think it's reasonable. what kinda of metadata would be added
3. didn't quite understand problem, question. Maybe you can provide more c

[2015-07-22 09:41] nicorikken commented on #49
@podviaznikov I assume pdf and epub generation would be based on the final rendering stage, after the rendering stage has been handled.
1. Not that I know of, but in the Boot documentation it focuses mainly on using the filesets for transferring content. Are you hinting at finding a workaround within Boot? Edit: The fileset metadata is limited in size, and therefore the max number of character is

[2015-07-23 17:03] podviaznikov commented on #49
@nicorikken:
1. interesting I didn't know that fileset metadata is limited. If it's indeed the problem we would need global solution. It works for me now with 20 blog posts. Do you know what is the limit? @Deraen, @martinklepsch do you know about such limitation?
2. nice, your initial plan sounds right here
3. sounds like you have a plan:)

[2015-07-23 20:10] ekroon commented on #49
@podviaznikov

The problem with storing output in the metadata is that there is a limitation to what you can store in a string in a .class format (65535 bytes). If you start a boot repl the following shows the problem:

[code]

versus

[code]

which yields

[code]

So doing something extra with the output after a markdown / asciidoctor generation step can be problematic. A large amount of files to

[2015-07-23 22:13] martinklepsch commented on #49
I had a brief chat with @micha about this and he mentioned that the [implementation](https://github.com/boot-clj/boot/blob/master/boot/pod/src/boot/pod.clj#L211) of `eval-in*` might be the culprit here. Switching from something like `pr-str` to a streaming protocol like Fressian for this stuff should allow for bigger things to be passed into pods.

[2015-07-25 17:53] ekroon commented on #49
A bit more investigation indicates that the problem is probably in the combination of `eval` and `backtick\template` as [with-eval-in](https://github.com/boot-clj/boot/blob/master/boot/pod/src/boot/pod.clj#L220) has the same problem:

[code]

Maybe some kind of helper function to split long strings in chunks is a solution?

[2015-07-28 06:50] nicorikken commented on #49
I've managed to get a workaround via files, allowing longer strings of generated html content. I've now implemented this using an AbsoluteFilePath of the output files to an `:include` key. I was considering adding some options to bring backwards compatibility with the `:content` based approach, although it might make more sense to adopt a file-based solution as default to avoid running into the is

[2015-07-31 01:20] podviaznikov commented on #49
@nicorikken do you have code I can look into?

[2015-08-18 11:36] dl1ely commented on #49
Guys, i would love to see a asciidoctor-plugin. Anything i can help with? @nicorikken can you do a PR soonish?

[2015-08-25 14:32] nicorikken commented on #49
I'm currently working on making a clean pull request from the current working state. Compatibility with other Perun features is left to be desired (due to the file-based handling), and dependencies can be reduced by wrapping the handling in a pod (which I lacked to do). In the meantime check my personal clone to watch the progress.

[2015-08-26 10:56] nicorikken commented on #49
Now that was relatively easy. I now have a working version. The file-based method lacks compatibility with the other methods used in the Perun base. And of course many features can be added to better suit the Asciidoctor use-case. But still there is a working prototype: https://github.com/nicorikken/perun

[2015-09-10 16:07] podviaznikov commented on #43
I'm going to convert this code to perun plugin today.

[2015-09-13 18:10] #43 closed, assigned to podviaznikov

[2015-09-13 18:21] podviaznikov commented on #48
@greywolve I think I would be interested in the pandoc support.
I think I agree with your proposed syntax: `(markdown :cmd ["pandoc"])`.
I like idea of having one task which can call different implementations based on arguments.
I tried to explore similar idea for html renderers https://github.com/hashobject/perun/pull/40/files

[2015-09-19 22:50] Deraen opened #53 "Use global metadata for feed options"
I use global metadata to set the title and url of the site so it would be very useful if I could use that for feeds also. As the global metadata schema is not defined this is not very straightforward.

Alternatives:
1. Define some global metadata keys which will be used by built-in tasks if set
2. Add options to the tasks to set which keys to use

[2015-09-19 22:57] podviaznikov commented on #53
I think we should defined some global metadata keys. And use them in built in tasks if they are present and local task option was not provided.

[2015-09-19 23:40] Deraen commented on #53
I started a document listing all the metadata fields: https://github.com/hashobject/perun/blob/spec/SPEC.md

I think few changes would be in order for global and post metadata to be consistent:
- General author schema used by global and post metadata
  - Does yaml metadata support sub keys, e.g. `[:author :name]`?
- `build-date`, `date-published`  should be consistent
- ~~build-date could be globa

[2015-09-20 07:23] podviaznikov commented on #53
I like that we have formal listing of all metadata fields.
1. I don't know about YAML metadata support for nested keys but I'll check it tomorrow.
2. I think we can ged rid of `build-date` key and make `build-date` plugin to set `date-published`. I like `date-published` because it's consistent with `date-created` and `date-updated`

[2015-09-20 09:57] Deraen commented on #53
Build date is different as published. It's the date when Perun was run.

[2015-09-20 14:39] martinklepsch opened #55 "Task for rendering static pages"
I'm currently doing something like this:

[code]

but dropping any of the passed arguments, i.e. generating a truly static html file:

[code]

While using the collection task works perfectly well in this case it might make sense to provide a general task for this usecase. Potentially task options could be used to pass arguments to the render-fn.

[2015-09-20 15:07] Deraen commented on #46
Works now that we are using latest Pegdown directly.

[2015-09-20 15:07] #46 closed, assigned to nobody

[2015-09-20 15:09] Deraen commented on #48
I think tasks should be kept simple and they only do one thing. If there is need for alternative markdown or render implementations, they could be provided as separate tasks.

[2015-09-20 19:46] podviaznikov commented on #53
so what do you mean by ?

[2015-09-24 20:59] podviaznikov commented on #55
@martinklepsch I do the same thing as you: https://github.com/hashobject/perun.io/blob/master/build.boot#L29.
But don't you still want to pass global-metadata in most cases? E.x. to print site name.

My only confusion about using `collection` task for static pages is just name of the task.

Maybe another solution would be to check if `renderer` has parameters or not and than call it in the correct

[2015-09-24 22:49] podviaznikov commented on #53
@Deraen clj-yaml supports nested keys: https://github.com/lancepantz/clj-yaml/blob/2dc440aa2016165aabb16408d17f523dee403c8f/test/clj_yaml/core_test.clj#L62

[2015-09-24 23:43] martinklepsch opened #56 "Key metadata by path instead of filename"
Metadata in perun should be keyed by the path relative to the fileset instead of filenames. Plain filenames can be overriden by files with the same name.

I'm also thinking of redundantly adding the path to the metadata map which would easily allow filtering and grouping by path without having to deal with MapEntries all the time.

[2015-09-24 23:47] martinklepsch commented on #56
Also adding the `:path` to the map would allow to easily construct a perun metadata map from a list of maps.

[2015-09-25 05:24] Deraen commented on #56
:+1:

[2015-10-01 17:48] martinklepsch opened #58 "Deprecate draft task"
I think the draft task does not provide a lot of value and could be easily emulated by using `(set-env! :resource-paths ...)` and the likes. Less code to maintain and users learn something about boot which might be useful to explore their own ideas etc.

[2015-10-04 01:13] podviaznikov commented on #56
@martinklepsch your PR is merged now. Do we want to do something else in the scope of this issue? Do we want to remove `:filename` field completely from the code?

[2015-10-04 10:32] martinklepsch commented on #56
I think it's fine as is. File name might still be useful in some cases.

[2015-10-04 10:32] #56 closed, assigned to nobody

[2015-10-10 06:17] podviaznikov opened #61 "Collection plugin should register output in metadata"
Collection plugin should register output file in the metadata so that downstream plugins (sitemap, rss, atom) can include this file.

[2015-10-10 06:18] podviaznikov opened #62 "Location is empty in sitemap"
See http://blog.hashobject.com/sitemap.xml.

[2015-10-10 06:23] podviaznikov commented on #33
@Deraen I saw that you are using hyphenate on your blog. Can you make separate task/plugin or you are blocked on something?

[2015-10-10 19:56] Deraen commented on #33
I wonder if I should just release as a separate package as there is nothing Perun specific about hyphenation html files?

[2015-10-10 19:58] podviaznikov commented on #33
I think separate package is good idea

[2015-10-10 20:51] Deraen commented on #33
Done. Added mention to README.

[2015-10-10 20:51] #33 closed, assigned to Deraen

[2015-10-11 01:26] podviaznikov commented on #33
Thanks! Going to try it on my blog

[2015-10-11 02:40] podviaznikov commented on #30
@Deraen what is your current opinion on this? You have `hyphenation` task that is working over existing html files. Maybe that is the way to go, create tasks that postprocess final HTML files?

[2015-10-11 03:58] podviaznikov opened #63 "Pagination task"
@martinklepsch I think we can extract your pagination task(https://github.com/martinklepsch/martinklepsch.org/blob/master/build.boot) and put it into perun. What do you think?

[2015-10-11 09:44] Deraen commented on #30
Yeah currently it looks like postprocessing html files is the way.

[2015-10-11 09:44] #30 closed, assigned to nobody

[2015-10-11 09:53] martinklepsch commented on #63
Sounds good. I was also wondering if we should setup a contrib namespace or
a wiki page or something else where where we can collect perun related
tasks by others.
On Sun 11 Oct 2015 at 05:58 Anton Podviaznikov notifications@github.com
wrote:

[2015-10-11 10:08] Deraen commented on #63
There's a list in README: https://github.com/hashobject/perun#3rd-party-useful-plugins

[2015-10-12 02:45] podviaznikov commented on #63
Yes, we had that section on README for some time now. I moved it to the top of the page yesterday, so people can see it better now.
I think it is much better way to move forward with creating separate projects for plugins/tasks and just referencing them in the wiki. I'd like perun to be small (with some default batteries) and extendable.

[2015-10-12 06:39] #62 closed, assigned to nobody

[2015-10-13 03:44] podviaznikov opened #66 "Image meta plugin"
Inspired by https://github.com/Jack000/Expose/blob/master/expose.sh I'd like to add `image-meta` plugin that will attach following metadata to the images:
1) several common colors in the image
2) width
3) height
4) filetype

[2015-10-13 03:45] podviaznikov commented on #66
@martinklepsch, @Deraen what do you think about this one?
I think https://github.com/Jack000/Expose has few cool things/ideas I'd like to include into perun (or separate perun task)

[2015-10-13 04:56] Deraen commented on #66
:+1:

[2015-10-13 09:06] martinklepsch commented on #66
I like the idea too but it seems specific enough to be in a separate
task/project.
On Tue 13 Oct 2015 at 06:56 Juho Teperi notifications@github.com wrote:

[2015-10-14 17:13] podviaznikov commented on #66
@martinklepsch I agree that it should be separate task in the separate project.

However I created new PR with the implementation in the current project. My motivations:
1. it's temporary and I would want to move out some tasks out of perun into separate projects when perun becomes a little bit more stable. Right now it's active development phase and it's _easier for me_ to see all tasks and run a

[2015-10-14 17:47] martinklepsch commented on #66
Makes total sense, I'd suggest adding `io.perun.contrib.*` namespaces that can contain custom contributed tasks that can be moved to standalone projects later. This way it's clear what can be expected to remain part of the core library.

[2015-10-18 20:43] podviaznikov commented on #53
@Deraen I think part of this task is done now.
I don't understand what normalization/changes should be done to `build-date` and `date-published`.
Also not 100% sure of using nesting for `:author`. What are the benefits of having `:author :name` instead of `:author-name`?

[2015-10-18 20:44] Deraen commented on #53
Not sure about nesting myself.

Perhaps `build-date` should be renamed to `date-build`?

[2015-10-18 20:57] podviaznikov commented on #66
Closing. See https://github.com/hashobject/perun/pull/68

[2015-10-18 20:57] #66 closed, assigned to nobody

[2015-10-18 21:20] podviaznikov commented on #53
I see now, `date-build` makes more sense. Agree with suggestion and will do it.
Cool, lets not do nesting for now, until we have good reasons.

[2015-10-19 01:55] #53 closed, assigned to nobody

[2015-10-23 06:07] #61 closed, assigned to nobody

[2015-11-22 22:13] podviaznikov opened #75 "Create language tool plugin for perun"
http://wiki.languagetool.org/java-api#toc3
I think this can be very useful for the blogs.

[2015-12-02 07:39] podviaznikov opened #77 "Collection task should work even if no :content files are found"
E.x. https://github.com/hashobject/perun.io/blob/master/build.boot#L32 this should work without creation of fake `index.md`

[2016-01-12 08:25] vibl opened #78 "Add perun to The Clojure Toolbox"
I'm just discovering perun and I noticed it's not included in The Clojure Toolbox (http://www.clojure-toolbox.com/). It definitely should be!

I have now idea how to submit it to James Reeves though. Maybe a PR to https://github.com/weavejester/clojure-toolbox.com?

Vianney

[2016-01-13 06:05] podviaznikov commented on #78
@vibl thanks for your comment. Appreciate it. Feel free to submit it clojure-toolbox. It seems that PR is the right way

[2016-01-15 12:05] martinklepsch commented on #49
@nicorikken have you looked at this again since `send!` has been introduced? `send!` is experimental but I think it might solve the issue you were encountering.

https://github.com/boot-clj/boot/issues/339

[2016-01-16 13:34] Deraen opened #80 "Non snapshot build"
I think it is time :)

[2016-01-16 13:36] martinklepsch commented on #80
👍

[2016-01-16 15:58] martinklepsch commented on #77
I'm thinking the same should be true for the render task. If the user only wants to render files that contain a `:content` key they may use the `filterer` option. Hardcoded filtering like this makes it harder to use the render task to render files other than markdown. (i.e. `edn`)

[2016-01-18 00:35] podviaznikov commented on #80
Done

[2016-01-18 00:35] #80 closed, assigned to nobody

[2016-01-18 00:37] podviaznikov commented on #78
submitted PR https://github.com/weavejester/clojure-toolbox.com/pull/152

[2016-01-18 00:37] #78 closed, assigned to nobody

[2016-01-18 23:41] martinklepsch opened #83 "Consolidate `target` & `out-dir` options"
Both are used but it's probably best to stay consistent

[2016-01-19 05:17] podviaznikov commented on #83
You suggest we rename `target` to `out-dir`?

[2016-01-19 10:06] martinklepsch commented on #83
I guess since there is already a target thing related to boot; out-dir is
probably the best option?
On Tue, 19 Jan 2016 at 06:17, Anton Podviaznikov notifications@github.com
wrote:

[2016-01-19 17:39] #83 closed, assigned to nobody

[2016-01-22 06:10] podviaznikov commented on #77
Here is the problem when there are not metadata files at all and I want to render one page. And I would want probably to use collection for that.

E.x. I wanted to create static site for perun and collection didn't work because I didn't have any initial files that should be parsed and added to the meta

[2016-01-23 18:14] martinklepsch opened #88 "Put pronunciation of "perun" into Readme"
... and decide how to pronunce "Perun".

https://en.wikipedia.org/wiki/International_Phonetic_Alphabet

[2016-01-23 20:05] podviaznikov commented on #88
Just for the reference. Name came from https://en.wikipedia.org/wiki/Perun who is the ancient Slavic god of thunder (similar to Zeus in Greek). But I also named it because name was short and domain name was available. So reference to the https://en.wikipedia.org/wiki/Perun is not important.

I pronounce it as with the stress on the U (https://en.wikipedia.org/wiki/Close_back_rounded_vowel).
And "E

[2016-02-14 13:58] Robsteranium opened #91 "Link to Getting Started"
I would like to suggest that the readme and perun.io site ought to link to the [Getting Started guide](https://github.com/hashobject/perun/wiki/Getting-Started).

In fact perhaps the site itself would benefit from some concise instructions?

[2016-02-14 17:34] Robsteranium commented on #91
Ah sorry - I've now seen the installation/ usage instructions on the readme - I'd not seen this before as I just expected them to come before plugins/ examples so didn't actually read far enough. Oops.

Still I wonder if the perun.io site ought to include a bare bones example. Maybe something like the following...

Create a `/build.boot`: with the configuration and a build task:

[code]

Make some

[2016-02-14 18:21] podviaznikov commented on #91
@Robsteranium thanks for the feedback. You are completely right that site needs to include such example. I didn't do much time with the site yet, I hope to do it in the next month, right now it's just a stub.
I ideally I want to have examples folder with few sites (one page site with perun, blog with perun, multi-page site with perun etc) and guides how to do each type as you suggested

[2016-03-08 11:09] nicorikken commented on #49
@martinklepsch I haven't looked this problem in a while, but that feature seems to fix the problem. I just published my in-house work on the Perun project in a [separate repo](https://github.com/mpare-net/adoc-builder). Still a bit rough though. The `send!` feature seems to be the right way of addressing the issue of passing around large lumps of text, so that would seem a worthwhile improvement o

[2016-03-27 16:56] rqcy opened #95 "A small logo change"
Hi, I would like to suggest a little change to the current logo on the GitHub front page.

Currently the pinkish and blueish triangles seem misaligned: the lower left edge of the pink triangle passes close to the left edge of the blue internal triangle. It seems a bit off.

You could possibly fix it by:
- aligning the edges more precisely,
- making the triangles non-transparent.

Just a suggestion

[2016-04-14 20:10] jeluard opened #96 "Specify dedicated location for input files"
All files located in folders defined as `:resources` will be candidates for the perun tasks. Is there a way to specify a dedicated location/fileset that will be available to perun tasks only?

[2016-04-14 20:18] martinklepsch commented on #96
@jeluard there's no way to do this currently. Could you give a bit more context about your situation/why you're looking for something like this?

[2016-04-14 20:30] jeluard commented on #96
I am interested in using `perun` to generate technical documentation for some projects. There might be a bunch of unrelated files in `resources` that should be ignored by perun tasks. Similarly other tasks relying on `resources` might be poluted by those doc files.

[2016-04-14 20:44] martinklepsch commented on #96
@jeluard usually `render`, `collection` and many other tasks have a `filterer` option that can be any function receiving the perun metadata of a file. You can use this metadata to only operate on files in a certain directory for example.

Are you planning to emit the generated documentation into `resources`? Personally I usually try to avoid mixing input/output files inside a projects top level di

[2016-04-14 20:51] martinklepsch commented on #88
I think I pronounce it quite similarly, it's pretty close to how you'd pronounce it if you'd say it "in German".

[2016-04-14 20:55] jeluard commented on #96
Right `filterer` is probably good enough for this use case. My second point was related to other tasks seeing docs files even so they are irrelevant. Not sure it's a real problem so I'll just ignore that for now.

Sorry I will use slack next time ;)

[2016-04-14 20:55] #96 closed, assigned to nobody

[2016-04-14 21:00] martinklepsch commented on #96
@jeluard here is totally fine too, no worries 👍

Depending on when "the other tasks" occur in the pipeline `sift` might just be enough to remove the docs related files from the fileset? Depends a lot on how/when you run things I guess.

[2016-04-14 21:15] jeluard commented on #96
Yes sounds like filterer/sift is a great combo here! Thanks

[2016-05-01 19:49] rqcy commented on #27
Hi, what's the status of this plugin?

[2016-05-02 05:58] Deraen commented on #27
It is relatively easy to list tags using the regular collection task:

https://github.com/Deraen/deraen.github.io/blob/blog/src/blog/views/tags.clj
https://github.com/Deraen/deraen.github.io/blob/blog/build.boot#L49

[2016-05-15 22:50] nicorikken commented on #49
I'm currently prototyping Asciidoctorj in Clojure. If I get the desired features to work, I want to redo my original PR. I'll probably consider the send implementation a secondary step, as this is equally an issue for the Markdown handling. It is just that my use-case involves large documents.

[2016-08-21 13:06] pesterhazy commented on #58
Personally I really like the `(draft)` task

[2016-08-30 16:14] jmarca commented on #91
Respectfully I'd like to add my vote for this.  Working through the example projects helps, but a complete worked example that touches all the plugins would help more.  And I didn't find the help page linked here until I found this issue!  For example, the line in the `README.md` that says "See documentation for each task.." should point to where that documentation is (I still can't find that, alt

[2016-08-31 08:03] podviaznikov commented on #91
@jmarca this is a very good feedback. Thanks a lot!
@martinklepsch made initial guide and he also made a site http://doohn2jgwdztw.cloudfront.net/guides/getting-started/. Hopefully that would become `perun.io` soon. We really need to push it. Because really current version of `perun.io` is mostly a old stub I made.

Also it seems that Guides "http://doohn2jgwdztw.cloudfront.net/guides/" would help

[2016-09-08 12:33] pesterhazy opened #99 "`permalink` depends on `slug`"
By default, the `permalink` task only works if the `slug` ask was run previously. This caught me off-guard.

Possible solutions:
- call slug if metadata key not already present?
- throw an exception at runtime if slog is not present
- warn at runtime if slug is not present
- add documentation

[2016-09-08 15:01] martinklepsch commented on #99
There's the `SPEC.md` file which notes this dependency but we should definitely become smarter about errors in this context.  Slightly elm-inspired here's an idea for an error that could be shown when the slug is missing.

![screenshot 2016-09-08 17 55 23](https://cloud.githubusercontent.com/assets/97496/18354326/cc6b564e-75ed-11e6-8919-9c62c685a29f.png)

Because slug-fn and similar parts of perun

[2016-09-08 15:39] podviaznikov commented on #99
I like this type of feedback. Looks super beginner friendly

[2016-09-08 15:59] Deraen commented on #99
And we could probably use puget to colorize the output + shorten long fields (string over 80 chars or such), so we don't manually need to dissoc long fields (content).

[2016-09-08 16:00] Deraen commented on #99
And this is once again a place we would need to throw a exception to stop Boot pipeline, but showing the stacktrace wouldn't make much sense. But this should be fixed in the next Boot version: https://github.com/boot-clj/boot/issues/486

[2016-09-08 16:01] martinklepsch commented on #99
This is what I used to omit long values :D

[code]

[2016-09-13 06:21] nicorikken commented on #49
I've been able to get nice HTML out of the Asciidoctorj using Clojure. I initially started creating an asciidoctor-clj wrapper around basic Java interop to hopefully support re-use. But that led to a procrastination on function structure. Realizing it was going nowhere, I let it be and decided to stick with plain Asciidoctor for the time being. My [Asciidoctor by makefile Github pages repo](https:

[2016-09-13 08:53] martinklepsch commented on #49
I'd suggest that for a first version it's not very important to make
different markup formats play nice together - in practice I would expect
most people to use mostly one anyways.
On Tue, 13 Sep 2016 at 08:21, Nico Rikken notifications@github.com wrote:

[2016-09-13 20:44] nicorikken commented on #49
I was having trouble getting the final rendering to work (somehow), but the task itself seems to work now. Once I get the rendering to work, I can better review the behavior of the task, to see how it fits in with the Markdown behavior. I've created a PR https://github.com/hashobject/perun/pull/100 for the current version.

[2016-09-14 06:19] nicorikken commented on #49
I got the rendering to work now. Mostly because I got all the source and resource directories mixed up and had some issues with my dependencies. Anyway, it sort-of works now.

_Frontmatter_
The AsciidoctorJ seems to have issues with the YAML `frontmatter` despite the fact that Asciidoctor should be able to [ignore such front-matter](http://asciidoctor.org/docs/user-manual/#front-matter-added-for-s

[2016-09-15 19:22] nicorikken commented on #88
Did a search:
- [Wiktionary](https://en.wiktionary.org/wiki/Perun)
- Forvo has a [dedicated page](http://forvo.com/word/%D0%BF%D0%B5%D1%80%D1%83%D0%BD/) with audio samples which are [licensed](http://forvo.com/license/) under the `CC BY-NC-SA 3.0 license` 🎉

[2016-09-24 14:35] branch14 opened #101 "boot runs successful bot no files are written to public"
I'm trying to get a perun set up. I got to point where it doesn't throw any errors when I run `boot build`, but I does not write any files to `public`, while it claims that it does.

[code]

My build.boot file is

https://gitlab.com/200ok/200ok.gitlab.io/blob/master/build.boot

[2016-09-24 15:03] martinklepsch commented on #101
Sorry for brevity but try `boot build target` that will put all files in
Boots fileset into the "target" directory.
On Sat, 24 Sep 2016 at 16:35, Phil Hofmann notifications@github.com wrote:

[2016-09-24 15:22] branch14 commented on #101
Thx Martin,

`boot build target` works. It mysteriously writes files to `target/public`.

[2016-09-24 15:22] #101 closed, assigned to nobody

[2016-09-29 04:19] MartyGentillon commented on #55
I am thinking about putting together something that should allow you to render html fragments into templates.

[2016-09-30 02:16] MartyGentillon commented on #20
The real problem with this is that it would mean that you could never use the same renderer for something in markdown and something in some other format.  Overall, format is an implementation detail, and a website could have both markdown files and HTML fragments.  Both of these may want to use the same templating.

[2016-10-21 05:20] edannenberg opened #105 "Feature: pass pre-parse function to markdown task"
Use case:

Our editors want to set, for example, the `rel`  or `target` attribute for links while using markdown syntax. Inspired by Jekyll I extended the markdown syntax for our frontend editor like so:

[code]

The tag is handled (replaced with final html) via re-seq/read-string before the frontend markdown parser does it's magic for the preview. Now I would like to be able to pass a `:pre-parse

[2016-10-21 18:08] Deraen commented on #105
You can pass symbol to pods and then resolve the symbol to function in the pod, similar to: https://github.com/hashobject/perun/blob/master/src/io/perun.clj#L387-L388

In this case you pretty much need to def the function in some namespace instead of writing it inline in build.boot. Also to reflect changes to the function you would need to use tools.namespace or such to reload changed namespaces.

[2016-10-24 09:20] edannenberg commented on #105
Thanks @Deraen, I've put up a quick draft PR. Does the job for my needs, hopefully I didn't break anything else in the process. :p

[2016-11-20 05:11] bhagany opened #110 "Atom generator uses `clojure.core/name` as entry titles"
Looks like one instance was missed when the `name` binding was changed to `title`.  PR incoming.

[2016-11-20 16:54] bhagany commented on #110
Fixed: https://github.com/hashobject/perun/commit/b69ecdbcab073d80b8a20df2b5561bccd5eefcad

[2016-11-20 16:54] #110 closed, assigned to nobody

[2016-12-19 02:47] bhagany opened #126 "Pegdown has been deprecated; pick a new markdown parser"
I just noticed that Pegdown has been EOL'd as of five days ago (see README: https://github.com/sirthias/pegdown), so I think a replacement is probably worth it for Perun.  I've been toying with the idea of adding Pandoc support, and there are a few other mentions of this in other issues, but I'm not sure if Pandoc can support all of the same features that Pegdown does.  Pegdown's deprecation notic

[2016-12-26 10:29] theronic opened #127 "Unable to resolve var: s3-sync in this context"
I get this error when I use the example code in the README:

[code]

I checked the version on the s3-sync and it seems to match. Is this a weird Maven thing on my machine?

[2016-12-26 10:59] theronic opened #128 "Reload browser window on change"
How can I trigger the browse window to reload whenever the boot watch task reruns?

[2016-12-27 02:50] podviaznikov commented on #128
This is a good question. I personally don't know. Maybe someone else have an idea?

[2016-12-27 02:52] podviaznikov commented on #127
Hey, did you import library properly?
Do you have this line:

https://github.com/podviaznikov/podviaznikov.com/blob/master/build.boot#L6

and this: https://github.com/podviaznikov/podviaznikov.com/blob/master/build.boot#L23
?

[2016-12-27 03:18] podviaznikov commented on #126
@bhagany I don't have any preferences.
It would be nice if new parser also supported anchorlinks for the headers (https://github.com/hashobject/perun/blob/master/src/io/perun/markdown.clj#L22).
It seems that flexmark-java supoports that, so I see no problems for me.

[2016-12-31 13:08] pesterhazy opened #129 "draft task broken in master"
Probably due to recent refactorings, the `draft` task is currently broken: it doesn't actually cause the drafts not to be rendered (or shown in collections).

Here's a version that works for me:

[code]

[2016-12-31 13:58] bhagany commented on #129
Good catch.  I didn't intend to break `draft`, but I also intended to ask about whether or not its deprecated, due to the comment before it - ";; Should be handled by more generic filterer options to other tasks".  Even so, I don't think there's any harm in fixing it.  I should have some time to do that today.

[2017-01-01 03:52] bhagany commented on #129
Okay, fixed at #130 - I'd like to give others a bit of time to take a look and object if necessary before I merge it.

[2017-01-04 05:04] #129 closed, assigned to nobody

[2017-01-08 04:15] bhagany commented on #128
I don't really understand the aim of reloading on every watch loop.  boot-reload will trigger a browser refresh when anything relevant changes.  Could you describe your use case if you need more than that?

[2017-01-08 04:16] bhagany commented on #127
If @podviaznikov's advice wasn't the fix you needed, would you mind showing your build.boot?

[2017-01-13 23:52] bhagany opened #133 "word-count task counts words in yaml header"
I don't believe this would be very easy to fix in master right now, but it will be easy after a future PR.  I just wanted to leave a note about it, so I don't forget.

[2017-01-13 23:53] bhagany commented on #127
Hi @pate - I'm going to assume your problem is fixed and close this ticket, but if you're still having trouble, feel free to reopen

[2017-01-13 23:53] #127 closed, assigned to nobody

[2017-01-13 23:54] bhagany commented on #128
Hi @pate - if you still need help on this issue, feel free to reopen.

[2017-01-13 23:54] #128 closed, assigned to nobody

[2017-01-14 06:36] theronic commented on #128
Hi @bhagany, boot-reload only works for ClojureScript projects AFAIK.

I want to be able to press save in my editor and see content update immediately on my other monitor for my humble HTML/CSS static site.

[2017-01-14 14:13] bhagany commented on #128
Okay, I see.  You have two options that I know of: stick with boot-reload and only load cljs in dev, or take a look at boot-livereload, https://github.com/Deraen/boot-livereload.  I've never used boot-livereload, but I'm pretty sure it's the same idea as boot-reload, except using js instead of cljs.

[2017-01-14 14:14] bhagany commented on #128
To be clear, I don't think there's a way to do this without running some script on the client side.

[2017-01-16 01:49] bhagany commented on #77
`collection` now works without any input files present, as of https://github.com/hashobject/perun/commit/341ed5c54552608144cbb9b364253639874d8b07

[2017-01-16 01:49] #77 closed, assigned to nobody

[2017-01-22 02:58] bhagany commented on #126
I have a working integration of `flexmark-java` here: https://github.com/bhagany/perun/tree/flexmark-java.  However, it doesn't yet support the `smarts` or `quotes` extensions, so we should probably hold off making the switch until it reaches feature parity.  Once support is added, all it should take is bumping some deps and making sure tests pass.

[2017-01-22 04:37] bhagany commented on #99
Fixed as of https://github.com/hashobject/perun/commit/4638cd5baa1a2ff8d7d3c0e8293cb2264d60b3e1.

`:slug`, `:permalink`, and `:canonical-url`\* are now based on a file's path in the fileset, and automatically set for you when metadata is accessed.  In many cases, this means you don't need to run the `slug` and `permalink` tasks at all, but you still can, if you want to move the files to new locati

[2017-01-22 04:37] #99 closed, assigned to nobody

[2017-01-22 04:53] bhagany commented on #58
I agreed with @martinklepsch on this at first, but after spending some time in the code thinking through use cases, I think I like `draft` now.  Now that Perun more easily integrates with third parties, having a built-in wrapper around `boot.core/rm` makes sense, because those third party tasks usually won't be able to filter on Perun metadata.  So, consider this a vote for keeping it.

[2017-01-23 11:16] Deraen commented on #126
Looks good. And I don't think there is great hurry to replace Pegdown, so we can easily wait until flexmark adds the last two missing features.

[2017-01-24 22:49] ericcheek opened #145 "Task inject-scripts fails for boot-cljs output."
Java's [String.replaceAll](https://docs.oracle.com/javase/7/docs/api/java/lang/String.html#replaceAll(java.lang.String,%20java.lang.String)) (used [here](
https://github.com/hashobject/perun/blob/master/src/io/perun/contrib/inject_scripts.clj#L7)) treats '$' signs as regex group match references. Most inputs containing '$' lead to IllegalArgumentExceptions (for example, injecting cljs optimized wi

[2017-01-24 22:56] bhagany commented on #145
Good catch, thank you for the report.  A fix should not be long in coming.

[2017-01-24 23:37] #145 closed, assigned to nobody

[2017-01-25 03:24] #105 closed, assigned to nobody

[2017-01-25 03:24] #133 closed, assigned to nobody

[2017-01-25 03:26] #55 closed, assigned to nobody

[2017-01-28 06:27] #63 closed, assigned to nobody

[2017-01-28 06:28] #27 closed, assigned to nobody

[2017-01-30 05:52] bhagany commented on #126
I am deleting my fork, so I moved this branch here: https://github.com/hashobject/perun/tree/flexmark-java

[2017-02-09 05:19] podviaznikov commented on #91
Closing now, since perun.io has proper site with guide

[2017-02-09 05:19] #91 closed, assigned to nobody

[2017-02-09 16:18] theronic commented on #128
Tried getting boot-livereload running. No luck :/

[2017-02-09 16:33] bhagany commented on #128
I'd be happy to help, if you could be more specific about the problem

[2017-02-14 17:55] jmarca commented on #91
Thanks for the updated perun.io site.

[2017-02-14 21:37] bhagany opened #164 "Linux file separators are used on Windows"
reported on Slack by @jjttjj

[2017-02-16 09:41] sooheon opened #165 "New static task is not hot-reloading for me"
I may just be doing something wrong, my page built with `static` does not hot reload while other changes with `collection` or `render` reload fine.

You can reproduce in this repo: https://github.com/sooheon/sooheon.com/blob/master/src/site/layout.clj#L68

[2017-02-18 21:20] bhagany commented on #165
Okay, I see what's happening here.  This is all internal to Perun, but we decide whether to re-render a file based on a few things, including whether the code in the rendering pod has been refreshed.  Also, the tasks that take a `renderer` all use the same pod.  Because of this, only the first `renderer` task in the chain will see that things have changed, and subsequent tasks will think that ever

[2017-02-18 21:59] bhagany commented on #165
Okay, I opened a PR to fix this issue.  I'll merge if/when the tests pass CI.

[2017-02-18 22:32] #165 closed, assigned to nobody

[2017-02-19 02:02] bhagany commented on #126
`smarts` and `quotes` are now supported, PR here: https://github.com/hashobject/perun/pull/170

[2017-02-19 07:36] martinklepsch opened #171 "require renderer ns before evaluating with arguments"
I have a renderer in `app.static` that eventually gets some records as arguments. The records are defined in namespace `app.records`. `app.static` transitively requires `app.records`.

When the renderer is called with it's arguments (the records) the arguments seem to be deserialized before the renderer-fn is called. Because of this I get an exception like this one:
[code]
I solved the issue manua

[2017-02-19 14:15] bhagany commented on #171
Huh, that's interesting.  The render function is called with `with-call-in`, which does require the renderer namespace here: https://github.com/boot-clj/boot/blob/master/boot/pod/src/boot/pod.clj#L357.  (The call chain is a little hard to follow, so it goes: `with-call-in` -> `call-in*` 2-arity -> `call-in*` 1-arity -> `eval-fn-call`).  So the error must be happening before it gets there.

I was u

[2017-02-19 14:19] martinklepsch commented on #171
Records roundtrip the reader similarly to how maps do afaik.

Equally confused about the call stack. I think the issue is that in [`eval-fn-call`](https://github.com/boot-clj/boot/blob/master/boot/pod/src/boot/pod.clj#L357) the args are already evaluated/deserialized and just at that moment the fn namespace is required.

[2017-02-19 14:20] bhagany commented on #171
Ah, found it: "Only forms that can be printed with pr-str and read via read-string can pass between pods." from https://github.com/boot-clj/boot/wiki/Boot-Troubleshooting.

Records are kind of an in-between thing that can sometimes meet that criteria, depending on what things are required... I'm going to ask for opinions on this on Slack.

[2017-02-19 14:20] martinklepsch commented on #171
@bhagany I think this issue might really belong to boot-clj/boot but we should check with @micha...

[2017-02-19 14:25] bhagany commented on #171
Yeah, I think it could go either way.  It's an interesting issue :)

[2017-02-20 17:08] bhagany commented on #171
okay, I talked this over with @micha on Slack, and I have a few avenues to explore for a solution.  The upshot is, we'll be able to support this in Perun.

[2017-02-21 00:38] #126 closed, assigned to nobody

[2017-02-21 04:42] #164 closed, assigned to nobody

[2017-03-01 12:03] martinklepsch opened #175 "site-title get's lost in `atom-paths`"
When the `site-title` is supplied as task option the atom-paths function loses it the moment it uses `grouped-paths`: https://github.com/hashobject/perun/blob/master/src/io/perun.clj#L1022

Merging in `(dissoc options :grouper :sortby :comparator)` here: https://github.com/hashobject/perun/blob/master/src/io/perun.clj#L794-L796 should fix the issue but I'm not sure if thats the right solution.

[2017-03-01 15:15] #175 closed, assigned to nobody

[2017-03-01 15:27] bhagany commented on #175
Sorry about that, I broke this during my recent atom refactor.  We merge task-level metadata like this in a few other places, so I used the same method to fix this bug, for consistency.

[2017-03-02 14:40] #171 closed, assigned to nobody

[2017-03-02 14:43] bhagany commented on #171
Sorry this took so long.  I spent a while trying to understand `boot.core/with-pod`, hoping that I could make it fit this use-case, but that didn't work out.  This also doesn't solve the problem with records in `print-meta`. I'm unsure how best to do that at the moment

[2017-03-04 02:22] bhagany commented on #171
Idea: modify `print-meta` to take a vector of namespaces to require in the pod.  What do you think?

[2017-03-04 05:34] martinklepsch commented on #171
I guess that would work but it reveals an implementation detail and requires explicit dealing with it. That said I don't really have a better idea so maybe it's the best possible? (Also I guess this custom record thing is probably not very common so it may only affect a small number of people.)

[2017-03-05 01:54] bhagany commented on #171
I suppose it's not really much better than using `require-in` like you're doing.  I'll keep thinking about it.

[2017-03-15 05:57] podviaznikov opened #180 "Add support for ServiceWorkers (a.k.a. "offline mode")"
There is new HTML feature called `ServiceWorkers`. This allows to cache all needed resources and make site work offline without Internet connection.

This seems like a good feature for blogs, which can be opened once and read later.

I implemented such caching service worker for my personal site: https://podviaznikov.com/sw.js.
It would be good to have something similar as perun task.
GatsbyJS has

[2017-03-15 05:58] podviaznikov opened #181 "Add HTML Manifest support"
We can create task that will generate HML manifest. Like this one (https://podviaznikov.com/manifest.json).
This will allow Perun site behave more like an app.
This will work great together with https://github.com/hashobject/perun/issues/180

[2017-04-25 11:40] martinklepsch opened #184 "re-pattern usage"
In some places re-pattern is used with strings that represent directories. As long as the directories don't contain any special characters it's fine but if they for example are set  to `"."` unexpected stuff might happen.

[code]

[2017-04-26 00:26] bhagany commented on #184
Good point. It should be relatively easy to escape those strings.

[2017-06-25 18:23] arichiardi opened #186 "Trace conflicts with #'boot.util/trace"
Hello folks!

With the advent of `boot` `2.7.2-SNAPSHOT` a conflict arises:

[code]

This is because someone (myself) added a new method for logging in boot. I did not expect it would conflict with perun.

I have just tried the blog example and indeed it breaks.

A solution would be not to use `:refer :all` in the `build.boot` file.

[2017-06-25 22:17] podviaznikov opened #188 "Add support for JSON feed"
https://jsonfeed.org/
Just like RSS and Atom but in JSON

[2017-08-16 06:05] agzam opened #190 "Support org-mode"
Markdown is awesome and widely supported, org-mode is extremely nice too. It would be so cool to find a way to support it. I imagine it would be very nice for developers - adding code snippets in many different languages.

[2017-08-20 08:31] nicorikken commented on #190
As an alternative for the time being, you might consider the Asciidoctor support.

[2017-08-20 08:33] nicorikken commented on #49
Metadata support is proposed: https://github.com/hashobject/perun/pull/191
And I started working on asciidoctor-diagram image generation as well.

[2017-08-20 08:52] nicorikken opened #192 "Yaml parsing fails on asciidoc code block"
The `parse-yaml` task fails when no YAML frontmatter is provided, but a valid asciidoctor codeblock is encountered further down the file:

Minimal source example:
[code]

Stacktrace:
[code]

The current workaround is to provide a YAML frontmatter, if only an empty one:
[code]

The YAML parser should be made more strict, like only searching for three dashes (`---`) and only considering the beginnin

[2017-08-28 18:42] nicorikken commented on #192
I just proposed a fix in a PR.

[2017-09-02 20:53] nicorikken commented on #49
I got image generation working again, not inline though, so I'll have to manage files. I did get a win with including coderay syntax highlighting. It requires the attribute to be set on the conversion command, and the attribute being set in the file is not enough. So probably I have to extract the attributes first, and then feed them into the final conversion step. Something to work out in further

[2017-09-07 20:29] nicorikken commented on #49
https://github.com/hashobject/perun/pull/194 🎉

[2017-11-14 05:39] #32 closed, assigned to Deraen

[2017-11-14 06:17] podviaznikov commented on #186
This seems to be fixed now.

[2017-11-14 06:17] #186 closed, assigned to nobody

[2017-11-17 21:15] podviaznikov opened #198 "Figure out CI/CD and releases"
Right now I release snapshots almost randomly and sometimes I forget to bump version.

It would be good if snapshots were released automatically after each PR merged.

We can establish some better conventions for proper releases.

For perun.io it would be nice to have automatic site deployment after PR got merged.

[2017-11-23 03:57] briansunter commented on #190
I'm using org-mode with pandoc, I don't think it has full org-mode support though.

[2017-11-25 03:58] arichiardi opened #199 "Permalink wrong with out-dir?"
Hello folks!

I am rendering my markdown using:

[code]

with `:dir-root "public"`, I get permalinks like:

`/blog/posts/public/post1.html`
`/blog/posts/public/post2.html`

I am trying a couple of things, but [this](https://github.com/hashobject/perun/blob/master/src/io/perun.clj#L812) line seems suspicious. The order feels flipped, but maybe I am totally off and I will try a couple of things more

[2017-11-25 04:04] arichiardi commented on #199
close, but not quite, there is more parsing to do in order to achieve the desired result. Hopefully patch coming soon.

[2017-11-26 19:02] #199 closed, assigned to nobody

[2017-11-29 14:07] mprokopov commented on #186
I still have this issue when try to follow README examples
this build.boot
[code]

causes following error

[code]

[code]

Is there another fix except not to use `:all` in `:refer` ?

[2017-11-29 15:17] arichiardi commented on #186
The fix was basically to use an `:as` instead of referring all the symbols. You can also `:rename` but it has to be in your file unless the name changes in perun

[2017-12-30 02:03] #184 closed, assigned to bhagany

[2017-12-31 21:08] arichiardi commented on #190
I was able to compile org mode down to `.md` for perun consumption using `ox-md`, still needed the metadata added and some retouch, but decent workflow for now.

[2018-04-10 18:28] arichiardi opened #211 "Add PHP Markdown Extra Footnotes"
I was wondering if it could possible to add the extra that enables footnotes.

Digging a bit, [this](https://github.com/vsch/flexmark-java/blob/1010fb1f93714ba75d7222bcbb09b709c3157da4/flexmark-ext-footnotes/src/main/java/com/vladsch/flexmark/ext/footnotes/FootnoteExtension.java) seems to be the one but I would not know how to enable it in perun.

Can have a look with some hints :smile:

[2018-04-11 17:26] #211 closed, assigned to nobody

[2018-05-27 21:02] NightMachinery opened #213 "How do I add html to my markdown files?"
I want something like this:
[code]
This should be fairly easy, so? At worst add a new tag like `<html-follow>` and just put its content directly into the generated final HTML.

[2018-05-28 18:54] NightMachinery opened #214 "Upgrade Pegdown to flexmark-java"
Pegdown is long deprecated:
:>>>[ DEPRECATION NOTE ](https://github.com/sirthias/pegdown)<<<:
Although still one of the most popular Markdown parsing libraries for the JVM, pegdown has reached its end of life.

The project is essentially unmaintained with tickets piling up and crucial bugs not being fixed.
pegdown's parsing performance isn't great. In some cases of pathological input runtime can e

[2018-05-28 18:58] NightMachinery opened #215 "How to add ".html" files to the render pipeline?"
I want a task like markdown but for custom extensions, without special parsing. I couldn't find it in the built-in tasks.

[2018-05-28 19:19] vsch commented on #213
@NightMachinary, If I remember right, pegdown generates only the HTML body content not the rest  of the document tags. I no longer have the pegdown project on my system to check.

However, nothing stops you from manipulating the HTML string you get from pegdown rendering to wrap it with your desired HTML or insert the rendered HTML into your document container.

As a worst case scenario if it does

[2018-06-04 03:06] bhagany commented on #214
This has already been done for some time, check it out: https://github.com/hashobject/perun/blob/master/src/io/perun/markdown.clj

Are we still referencing Pegdown somewhere?

[2018-06-04 03:09] bhagany commented on #213
You can use Perun's `render` task to do this - your render function can just concatenate some html strings together.

[2018-06-04 03:09] bhagany commented on #215
I think you're looking for `render` here as well.

[2018-09-02 09:12] devurandom opened #216 "Finish "Make a blog" guide"
The main page advertises:

However, on https://perun.io/guides/, I see this grayed out text:

I would like the blog example to be finished.

[2018-09-02 12:28] devurandom commented on #186
Could someone please reopen this report and also fix the readme? I also ran into this.

Note that after changing `:refer :all` to `:as perun`, the `$ boot markdown` command becomes `$ boot perun/markdown`.

[2018-09-02 17:31] devurandom opened #217 "Theme library"
It would be great to have a (set of) theme library(-ies) available. They would contain Clojure code / Hiccup templates and styling (CSS) that would make it very easy to create e.g. a blog. I imagine that I would just have to `(require '[io.perun.theme.hyde])` and get a Hyde styled blog, where I would just have to add a file `content/2018-09-02-my-first-blog-post.md` to create a blog post with some

[2019-01-03 12:07] podviaznikov commented on #198
Master should be released automatically every time.

[2019-01-12 21:52] jaidetree opened #221 "[BUG]: Sitemap task in blog example throws error"
There's an issue with the sitemap validator ns hashobject/sitemap#6 preventing the blog example for building.

# REPRODUCTION
1. Clone this repo
2. cd into examples/blog
3. Run boot build

## Expected
- Blog builds successfully

## Actual
An error is thrown due to sitemap.validator's ns failing spec.

## Environment
| Name                       | Value                   |
| -----------------------

[2019-02-11 23:50] jaidetree opened #226 "[BUG]: Blog example does not produce atom.xml"
# REPRODUCTION
1. Clone the perun repo
2. cd into `examples/blog`
3. Run `boot build`

## EXPECTED
- atom.xml should be produced using the `:original` keyword as a filterer

## ACTUAL
- atom-feed states there were no files to output
- No atom.xml file is emitted

## More Context
- The blog example sets the filterer to `:original`, without that option it works as expected.
- The markdown task shoul

[2019-02-12 00:09] jaidetree opened #227 "Support Clojure 1.9+"
Perun cannot run entirely in Clojure 1.9+. This is due to a dependency on sitemap with a ns form that doesn't conform to the updated spec. The fix for sitemap was merged into master but there are a few steps involved before it can be updated in perun.

- [X] Patch sitemap to pass Clojure 1.9+ validation
- [X] Merged sitemap patch into master
- [X] Release new version of sitemap
- [X] Update sitema

[2019-02-12 01:54] jaidetree commented on #221
Closing this in favor of Clojure 1.9+ support issue #227

[2019-02-12 01:55] #221 closed, assigned to nobody

[2019-02-12 02:08] allentiak commented on #227
On Mon, 11 Feb 2019 at 21:09, Jay <notifications@github.com> wrote:

I can take care of this one, once the previous task is done.

[2019-02-12 02:53] jaidetree commented on #227
What needs to be done to release the next version of sitemap? No rush or anything :smile:, just want to understand the status of that project in relation to perun.

[2019-02-25 01:49] podviaznikov commented on #227
released sitemap `0.4.0`.
let me know if anything is needed there https://clojars.org/sitemap

[2019-02-25 02:43] allentiak commented on #227
@eccentric-j
Once closed, #224 will take care of the third item.
I added a fourth item to the list for the released of an updated perun afterwards.

[2019-02-25 03:41] jaidetree commented on #227
Great, thanks Podviaznikov. Added a note in the code review on #224 to bump sitemap to 0.4.0.

[2019-02-25 04:05] allentiak commented on #216
I think this has already been done.
Should we close this one?

[2019-02-25 04:08] jaidetree commented on #216
I was aiming to tackle this after I launch an upcoming project this week. The example is finished but a write up to explain what's going would be good to share the concepts in play behind the scenes.

[2019-02-25 04:11] allentiak commented on #216
Great! Take your time...
:-)

[2019-02-28 03:34] allentiak opened #228 "Add tests"
Even though this may be a long goal, I think it would be nice to add tests to the source code.

As a starting point, we could use [these tests](https://github.com/nakkaya/static/tree/master/test/static/test), from [static](http://nakkaya.com/static.html), a project similar to perun.

(BTW: Please note that static's code is licensed under BSD-2. So, anyone using it should acknowledge it properly.)

[2019-02-28 03:55] allentiak commented on #88
In Spanish, if I would pronounce it (almost*) as Anton does, it would sound too similar to "Perú" (the country) https://en.wikipedia.org/wiki/Peru.
*I would pronounce the "r" as ɾ (https://en.wikipedia.org/wiki/Dental_and_alveolar_flaps).

Chances are I would rather stress the "e", instead of the "u" (which is what I have been doing all along before coming across this :-)

[2019-02-28 04:14] allentiak commented on #213
Seems solved. I will close it.

[2019-02-28 04:14] #213 closed, assigned to nobody

[2019-02-28 04:16] allentiak commented on #95
@rqcy You're right. Thanks!

Please, feel free to open a PR regarding this.

[2019-02-28 04:21] allentiak commented on #215
Seems solved. I will close this.

[2019-02-28 04:21] #215 closed, assigned to nobody

[2019-02-28 04:26] allentiak commented on #190
Does `pandoc` support this? Because, if it does, I think it would make more sense to offshore parsing to it...

[2019-02-28 04:37] allentiak commented on #48
Given that #173 has been merged...
Should we close this?

[2019-02-28 04:39] allentiak commented on #58
Should we close this?

[2019-02-28 04:47] allentiak commented on #214
I have checked the code. And no, we don't :-)

[2019-02-28 04:47] #214 closed, assigned to nobody

[2019-02-28 05:04] allentiak commented on #228
And probably explicit the need to add test to new functionality-related PR?

[2019-02-28 06:33] jaidetree commented on #228
I haven’t looked at static’s tests yet but perhaps we should first figure out what needs to be tested?

Do you envision testing the output of tasks or the internals that make up the tasks themselves or both? I agree with the importance and value of adding tests, they will make refactoring and updating a lot quicker.

[2019-02-28 15:02] allentiak commented on #228
On Thu, 28 Feb 2019 at 03:33, Jay <notifications@github.com> wrote:

Given the current state of affairs, I would proceed in exactly that order
:-)
This would result in an "outside-in" approach: to tackle one output task at
a time, and only then the internals, one by one.

Following this logic, `markdown` and `markdown*` would be among the first
tasks to work on.

[2019-02-28 21:16] jaidetree commented on #228
Sounds like a good strategy to me. Next, how do we test these output tasks? Can we run these tasks against fixture markdown files and take snapshots of the output then compare them to catch regressions? In my mind we want to make sure the markdown tasks transform the markdown expectedly but without having to write too many tests. What are your thoughts?

[2019-02-28 21:25] allentiak commented on #228
On Thu, 28 Feb 2019 at 18:16, Jay <notifications@github.com> wrote:

:-)

Next, how do we test these output tasks? Can we run these tasks against

Something like that. I would strongly advise you to check static's tests
for more concrete details :-)
(I had no experience in this kind of testing myself before coming across
static's code.)

[2019-02-28 22:06] jaidetree commented on #228
I'll definitely read through it 🙂 but I want to make sure we're on the same page about what we should test and how we should test it first. I've shot myself in the foot looking at other implementations too early and trying to make my problems fit into them instead of understanding my goals and expected outcomes ahead of time.

[2019-02-28 22:17] jaidetree commented on #228
After taking a look it inspired a good deal of thoughts:

This feels ok but I think using Clojure to write the dummy files is an extra maintenance step. I would prefer if we had regular md, images, css, etc... files in a folder we can use directly as it will be easier to maintain and closer to the real user experience. Additionally, since boot is immutable we don't have to worry about copying the

[2019-02-28 22:27] allentiak commented on #228
On Thu, 28 Feb 2019 at 19:17, Jay <notifications@github.com> wrote:

Thank you for your comments.

I'm happy to get the plumbing started if it would be of help to you.

Please, be my guest :-)
I will be quite busy until the end of this week myself. I have found myself
working in two fronts at once: on one side, working on a website; on the
other side, fixing the tool that helps me create the websi

[2019-03-01 14:44] allentiak opened #229 ""target" boot task fails with Java 11"
I'm having problems with the "target" boot task with Java 11.
I'm using Clojure 1.10 with boot 2.8.2 (error message below).

As a workaround, everything works OK with Java 8.

I'm not sure whether this is a perun bug or a boot bug, though.
[code]

[2019-03-01 16:10] jaidetree commented on #229
https://stackoverflow.com/questions/43574426/how-to-resolve-java-lang-noclassdeffounderror-javax-xml-bind-jaxbexception-in-j

Ran into that before, it can usually be solved by a JVM flag but we may
need to figure out how to get that in a config file so that we don't
inconvenience users.

On Fri, Mar 1, 2019 at 9:44 AM Leandro Doctors <notifications@github.com>
wrote:

[2019-03-01 17:25] allentiak commented on #229
According to [0], we should add a Maven dependency...
(Haven't tried it yet, though.)

What's your position regarding this?

[0]: https://crunchify.com/java-11-and-javax-xml-bind-jaxbcontext/

[2019-03-01 17:27] allentiak commented on #229
BTW: thanks for the pointer!

[2019-03-05 19:16] allentiak opened #230 ""lessc" task (and 4 others) is (are) not documented"
When comparing the built-ins Guide against https://github.com/hashobject/perun/blob/master/src/io/perun.clj, there are five tasks that aren't even mentioned (I haven't checked their names yet, though -- only compared the amount of times `deftask` is mentioned in the code).

In the case of `lessc`, one cannot even know which version should be used (the Python one?, the Node.js one?)...

@podviaznik

[2019-05-13 19:05] allentiak commented on #227
@eccentric-j #224 has been merged

[2019-05-13 22:49] allentiak commented on #49
@nicorikken Just curious...  Hasn't this been superseded by #183?

[2019-05-14 19:00] jaidetree commented on #227
@allentiak Great, thanks.

@podviaznikov @allentiak What's next to be able to release the next version of perun?

[2019-05-14 19:17] allentiak commented on #227
Give me a few days and I'll get back to you on this.

On Tue, 14 May 2019, 16:00 Jay, <notifications@github.com> wrote:

[2019-05-14 23:36] wiseman opened #233 "'images-resize' task moves images"
The `images-resize` task puts all resized images in the `out-dir` ("public" by default), which was surprising to me.

I use subdirectories to organize content, keeping images and pages together.  E.g.
[code]
If I don't use the `images-resize` task, this generates the following structure in `target`:
[code]

The images are copied to the corresponding location in `target`.

If I add this task:
[code

[2019-05-14 23:55] allentiak commented on #233
@wiseman
Thanks for reporting this!
Could you please mention which perun version are you using?

[2019-05-15 00:26] wiseman commented on #233
I'm using 0.4.3-SNAPSHOT.

[2019-05-15 04:03] allentiak commented on #233
Thanks!
Good that you're using the latest published version.

Now, let's make sure it's not a regression...

Could you try to reproduce this with previous releases* and report your
findings fees each of them, please?
You just need to change the perun version used by boot accordingly.

*List of published versions: https://clojars.org/perun

[2019-05-15 06:00] wiseman commented on #233
0.4.2-SNAPSHOT:
It almost works.  It seems like it's trying to keep resized images with the original images, but unfortunately there's an extra level of `public` in the output path.

[code]
Versions older than 0.4.2-SNAPSHOT give the same behavior as 0.4.2-SNAPSHOT.

[2019-05-15 14:22] allentiak commented on #233
So, if I understood correctly, the bug seems to be triggered *only* in
0.4.3-SNAPSHOT and "almost" triggered in 0.4.2-SNAPSHOT and *all* previous versions?

Or are there other versions that trigger it? Again: could you please
explicitly name which are the previous versions you have tried and the
results in each case? There are five of them:
- 0.4.3-SNAPSHOT: ?
- 0.4.2-SNAPSHOT: ?
- 0.4.1-SNAPSHOT:

[2019-05-15 14:25] allentiak commented on #233
I have edited my previous comment. Please check it again.

[2019-05-15 14:55] wiseman commented on #233
Yes. 0.4.3-SNAPSHOT has the behavior I [Initially described](https://github.com/hashobject/perun/issues/233#issue-444171655), putting all resized images in `public`.

The behavior of versions 0.4.2-SNAPSHOT, 0.4.1-SNAPSHOT, 0.4.0-SNAPSHOT, and 0.3.0 is as I described [here](https://github.com/hashobject/perun/issues/233#issuecomment-492515652), putting resized images in a location that mirrors the

[2019-05-15 15:01] allentiak commented on #233
Thanks for your confirmation! I will take a look at this during the following days and let you know.

[2019-05-24 01:59] wiseman commented on #226
I noticed this too. Reading the code, I can't tell what the purpose of `:original` is--no code uses it, it's not documented in SPEC.md, and it's not clear why the blog example uses it instead of the default filterer.

[2019-05-24 02:36] wiseman commented on #226
It looks like commit 189403355d91dc8954c0f3fcff04b3ec8d63e0e4 introduced `:original`:
[code]
#114 is where `:include-atom` and `:include-rss` were added. It might just be that the blog example was not updated at the same time to reflect the new intent.

[2019-05-26 05:03] arichiardi opened #238 "Gravatar link should be https"
Hello folks,

I am receiving:

[code]

From one of my blog posts and I was wondering if there is a way to set `https` to the gravatar link.

I have seen tests have `http` but could not find where to change it? Is it baked in their library?

I can provide a patch with a bit of guidance.

Thanks!

[2019-05-26 07:17] podviaznikov commented on #238
Hi @arichiardi. Yes, you can provide patch.

Seems like it's here https://github.com/hashobject/perun/blob/master/src/io/perun/gravatar.clj#L7 and the library we use provides `https` support https://github.com/alesguzik/gravatar-clj/blob/master/src/gravatar/core.cljc#L16.

So you can switch it to `https` for everyone.

[2019-05-27 15:40] arichiardi commented on #238
Cool thank you for your pointers! I will definitely do it.

[2019-05-27 17:00] arichiardi opened #239 "Consider moving to flexmark-java"
Hi all!

Given the following [Pegdown Deprecation Note](https://github.com/sirthias/pegdown#-deprecation-note-), maybe `perun` might want to consider moving to `flexmark-java` as suggested there.

I found a couple of problems in my blog that are easily fixable, but `pegdown` is not going to be fixed anymore.

[2019-05-27 17:02] allentiak commented on #239
Hmmm...
Doesn't the latest master version already use flexmark-java? (albeit
probably not the latest version)

[2019-05-27 17:07] arichiardi commented on #239
Oh sorry, I haven't checked `master`, it would be great to have it in a `-SNAPSHOT` for sure. In the meantime, I will close this issue and thanks!

[2019-05-27 17:07] #239 closed, assigned to nobody

[2019-05-27 17:10] allentiak commented on #239
It's OK :-)
I would only advise you to check 'master' before reporting this kind
of dependency bugs in the future.

[2019-05-27 17:11] arichiardi commented on #239
Will definitely do :smile:

[2019-07-17 12:46] allentiak commented on #49
Yes, it has.

[2019-07-17 12:46] #49 closed, assigned to nobody

[2019-07-17 12:47] allentiak commented on #48
Closed.

[2019-07-17 12:47] #48 closed, assigned to nobody

[2019-07-17 12:53] allentiak commented on #227
I have tested perun with Clojure 1.10.1, and it works fine. (I'm closing this.)

(The only thing left to do would be the release, but I think we should first discuss what we would like to see there.)

[2019-07-17 12:53] #227 closed, assigned to allentiak

[2019-07-17 14:16] allentiak opened #241 "The future of perun?"
Hi,
I think it is time to put into words what we have been discussing informally: we need a new stable release!
I have created a new milestone for 0.5.0. I have also started this thread to decide what to put in it :-)

What do you think?

(To open up the discussion, I am mentioning here every single person who has contributed code so far, and every single person who has an open PR, in no particula

[2019-07-17 14:17] arichiardi commented on #241
Probably I should look at #208

[2019-07-17 17:57] munen commented on #241
@allentiak Generally speaking, I would be happy about a new release^^

There's many good changes since the last release! That why, for deployment of https://200ok.ch, we're cloning the repository and don't use the released version anymore.

Since you asked for an opinion, I personally would opt to integrate automatic releases for PRs merged to `master`. That's more work to be done once, but afterw

[2019-07-17 23:11] allentiak commented on #241
I'm happy this ticket sparkled some positive discussion!

@munen AFAIK, the only person with the needed credentials to publish new releases is @podviaznikov
Maybe he has something to say about this?

(BTW: I am writing a list of the things I would like to see in a 0.5.0 release. I will post it here shortly, so we can discuss about it.)

[2019-07-18 00:39] allentiak commented on #241
### Some ideas towards 0.5.0

Perun is a great project. That being said, the code's current internal quality could be definitely improved. This would make the project more easy to maintain and debug.

Rather than adding new features, I would like to first perform a general code cleanup and quality improvement.

1. Get the CHANGELOG up to date. (There is a record of only 2% of the changes occurred

[2019-07-18 04:30] podviaznikov commented on #241
All the ideas are good. If we can improve tests, documentation and add automatic releases (as suggested) that would be amazing.

Automatic releases - was my big wish too for a long time, but I wasn't able to do it.
Of course if someone setups up releases (I was waiting for GitHub actions to be enabled on the repo) - I will enter clojars credentials as a secret.
Also if someone knows a better way t

[2019-07-18 13:14] allentiak commented on #241
I have created the milestone for 0.5.0.
https://github.com/hashobject/perun/milestone/1

 Should we wait a few more days so we can get more feedback from the rest mentioned above?

[2019-07-18 13:18] allentiak commented on #241
@podviaznikov
Perhaps you could start by adding current perun members to the clojars group?
https://github.com/clojars/clojars-web/wiki/Groups#adding-members-to-a-group

[2019-07-18 16:50] jaidetree commented on #241
#227 to provide Clojure 1.9 support

[2019-12-02 19:42] margaretjoanmiller commented on #221
I'm getting this error again in clojure 1.10.1 despite someone else getting it working on the same version?

[2020-01-31 19:53] #238 closed, assigned to nobody

[2020-01-31 19:54] allentiak commented on #58
Closing...

[2020-01-31 19:54] #58 closed, assigned to nobody

[2020-01-31 19:56] allentiak commented on #58
Please, feel free to reopen if needed. (There has been no activity on this discussion for over three years now...)

[2020-01-31 19:58] allentiak commented on #95
Closing....
Please, feel free to reopen if needed. (There has been no activity in this thread for almost four years now...)

[2020-01-31 19:58] #95 closed, assigned to nobody

[2020-01-31 20:00] allentiak commented on #20
Hi, @Deraen @martinklepsch @podviaznikov @MartyGentillon ,

There hasn't been any activity on this thread for over three years...
Should we close it?

[2020-01-31 20:03] allentiak commented on #75
Hi, @podviaznikov,

Maybe could we offload this to the users' writing tool of choice?

[2020-01-31 20:04] allentiak commented on #75
I mean, whatever text editor they use :-)

[2020-01-31 20:24] allentiak commented on #88
Hey, @podviaznikov I've just created #243.
Should I merge it?

[2020-01-31 20:32] allentiak commented on #229
Seems to work out of the box with the updated deps of #232 (master at fe9566b25bb48a4f85a78b1ec98c3dc641b3717a).
Could anyone else check this, please?

[2020-03-21 09:02] mrchrisadams opened #244 "Unable to start with the getting started guide on Mac OS X - boot errors"
Hi there,

I'm on a mac with OS X 10.15.3, and I'm using boot for the first time.

I've tried to follow the steps outlined in the [getting started][1] guide and I think

a) the instructions are a bit of date, and
b) I need some help, but I'm not sure the issue is this repo or a deeper one with boot

I'll start with the first one.

### Boot fails, looking for `src`

The first issue I cam across was

[2020-03-21 21:23] allentiak commented on #244
Hi, Chris (@mrchrisadams),

Thanks for your detailed report!

Regarding (1): Please, feel free to open a PR with the specific parts where the documentation is incorrect. AFAIK, not many perun users use MacOS. Please note that the PR doesn't need to be complete - if (1) has something to do with (2), chances are both bugs will end up being solved simultaneously.

Regarding (2): I checked your logs,

[2020-03-21 22:24] mrchrisadams commented on #244
Hi Leandro!

I've opened PR #245 now, which I think should help. If you're happy with merging that in, I'll update the wiki to point to the newer guide as well, has having the information duplicated, or at least missing any reference to newer content could result in someone else getting confused like me 👍

[2020-03-22 20:09] allentiak commented on #244
@mrchrisadams Now that #245 has been merged... Is this bug still present?

[2020-03-28 14:21] mrchrisadams commented on #244
Hi @allentiak thanks for checking on this. I think this is resolved now, by using the 0.4.3 release.

Have a good weekend 👍

[2020-03-28 14:50] allentiak commented on #244
OK.

BTW, @mrchrisadams: We are looking for volunteers. I am planning a new "unstable" release in the upcoming weeks to include all the things on master since our last release.
 If you are interested to contribute, your PRs are more than welcome!

[2020-03-28 14:50] #244 closed, assigned to nobody

[2020-04-09 00:26] allentiak opened #246 "Publish perun 0.5.0-alpha-SNAPSHOT"
So we can get feedback about the changes since 0.4.x

[2020-04-11 19:45] arichiardi commented on #229
I am using latest `master` and I can confirm there is no problem on Java > 11 (I am using 13).

I guess we can resolve this issue and thank you!

[2020-04-11 19:53] allentiak commented on #229
# Closed 229

[2020-04-11 19:53] allentiak commented on #229
Closed #229

[2020-04-11 20:01] #229 closed, assigned to nobody

[2020-05-24 18:04] arichiardi opened #247 "Move to babaska?"
I have been flirting with the idea of moving away from boot for my blog but not from perun.

The main advantage that I see there is startup time and possibly, but not sure about that, rendering time.

I am thinking some code could be created to handle the tasks and use the same Java libraries for it.

Mainly asking feedback on this, not sure it is worth it also but boot's maintainance could also b

[2020-05-24 19:15] allentiak commented on #241
(Moving my answer from #247, where @arichiardi proposes a move to babashka)

Ciao, @arichiardi, all,

Thanks for bringing this up.

Personally, I have been moving away from boot for some time, in favor of a leaner, deps.edn-based approach. So, in principle, I would favor a migration towards there.

That being said, I doubt I would implement such a change right now. After @podviaznikov gave me the

[2020-05-24 19:16] allentiak commented on #247
Ciao, @arichiardi!
Thanks for bringing this up!

Please read my answer in https://github.com/hashobject/perun/issues/241#issuecomment-633280532_

Best,
Leandro

[2020-05-24 19:24] allentiak commented on #241
**UPDATE**: I have just updated the README to ask for help.

[2020-05-24 19:32] arichiardi commented on #241
@allentiak that definitely makes sense, a project like this one dying would be a pity.

Thanks for the answer, I will have to think about time as well. Nonetheless, a release should be good (using local 0.5 snapshot) here. Maybe I can as least help with that?

[2020-05-24 19:43] allentiak commented on #241
@arichiardi
Sure you can help!

I am mentioning everybody again so they have a chance of proposing alternatives to you leading a new 0.5.0 release. (Feel free to correct me if I'm wrong on this.)

Shall we give this subject a deliberation time of, let's say, two weeks? This is, until the 7th of June 2020?
(@arichiardi In the meantime, I would advise to keep your work in a separate branch, to be me

[2020-12-07 18:19] arichiardi commented on #241
Dear @podviaznikov and @allentiak..I think I can take care of the automatic releases if we are OK with CircleCI (cause I am fairly familiar with it and I have examples floating around).

I think I need admin access to the repo for that and clojars access so that I can generate tokens...

https://github.com/clojars/clojars-web/wiki/Deploy-Tokens

[2020-12-08 03:55] allentiak commented on #241
@arichiardi I'm glad to read your comment. I've given you access to the repo and clojars.

I am currently solving some urgent matters, so I cannot reply in detail right now. I should be able to do so in around a week.

In the meantime, maybe @munen or @podviaznikov have something to add to the conversation?

[2020-12-11 15:17] podviaznikov commented on #241
@arichiardi. I think you have access now. Sounds like a good idea to have automatic release pipeline. CircleCI definitely works.

[2020-12-14 11:09] munen commented on #241
Getting CI into Perun would be great, thank you for your work!

@allentiak, @branch14 and me have had some talks recently with regards on how to ensure maintenance for Perun. The result is that we from 200ok.ch can offer to take over maintenance of Perun and make it a community project. In that regard, we have written to @podviaznikov some weeks ago, but haven't heard back, so far.

This is the pr

[2020-12-14 13:52] bhagany commented on #241
I have been watching on the sidelines with interest, and this certainly piques it.  I think a company is probably in a good position to undertake the kinds of maintenance tasks that a FLOSS project requires, and so would be in favor of this change.  It also makes it more likely for me to start contributing again (I do have concerns about the long-term viability of the boot ecosystem, but those can

[2020-12-14 14:38] munen commented on #241
Thank you for your kind words, @bhagany! I fondly remember when you were helping us to get going with Perun initially^^

I agree about the long term viability of Boot, as well. @allentiak also mentioned that he would like to see it replaced. For 200ok.ch, we've made some changes downstream to Perun where Boot just feels wrong, but for the moment we stuck with it.

I'm not saying that this is what

[2020-12-14 16:18] arichiardi commented on #241
@podviaznikov side note 😃 I tried but in order to setup CircleCI I need to be an admin. No rush though I am working in my fork for now and I am almost done.

[2020-12-14 16:23] arichiardi commented on #241
About my babashka proposal, I am not sure it would work very easily cause babashka cannot run arbitrary Java code (there are pods for shelling out to CLI commands and stuff but it is more work).

This leaves the only other option, which is to setup a Clojure deps "script", of course checking first what boot-specific functionality perun uses.

@munen would your approach involve moving away from boo

[2020-12-14 17:15] bhagany commented on #241
fortuitously: https://clojurians.slack.com/archives/C06MAR553/p1607889886125600

and for posterity, from Michiel Borkent on Slack:

https://github.com/borkdude/babashka/blob/master/CHANGELOG.md#v025
For questions, come chat in #babashka

I haven't looked into it, but it sounds to me like this would give us a good hook into the JVM

[2020-12-14 17:24] munen commented on #241
@arichiardi

Not for the time being. I'd first focus on making Perun a proper community project, again. I'd start with these topics:

- Adding a code of conduct
- Adding Contributing guidelines
- Moving to a community chat that remembers the history longer than a couple of hours
- Adding CI releases for Perun and the docs
- Having a maintainer available that's a bit more responsive to PRs

But, if

[2020-12-16 22:48] allentiak commented on #241
Hi, all,

Sorry I haven't been very responsive lately. I have been solving a personal emergency.

I'll make things as brief as possible.

We all know that, after starting, building, and becoming perun's (almost) sole maintainer for many years, @podviaznikov (for reasons irrelevant for this discussion) has not been able to pay much attention to the project for some time now. Ironically, perun's suc

[2020-12-17 20:08] podviaznikov commented on #241
Hey guys,

Great discussions.

Just want to add. I do not think of myself as a primary maintainer. I think project had naturally changing main contributors over years.

I think I contributed a lot during initial phase, then @martinklepsch and @Deraen were heavily involved.
Then it was long period when @bhagany was main developer.

I think @allentiak was the most active contributor/maintainer in th

[2020-12-17 20:15] arichiardi commented on #241
In honest humble opinion this worked actually quite well, classic open source model: we do our best when there is enough time on our shoulders :smile:

For instance my PR for CI has been worked on during my parental leave :smile_cat:

I liked the fact that we have a list of TODOs written here, many messages above, and whoever has time can just pick those up and complete them (I guess?).

[2020-12-18 13:41] allentiak commented on #241
@podviaznikov wrote:

Hi, Anton,

Great reading from you!

Thanks for the flowers :)
(You won't see many commits by my hand, though...)

Great to read this! I'm glad we all want to help this project move forward.

You're right, there isn't. But I think the fact that you are sharing your vision of the project with the rest of us in this thread is a great first step towards building that consensus.

[2020-12-22 02:02] arichiardi commented on #247
After closer inspection I am not sure it is possible to run arbitrary Java libs in babashka but I might be wrong.

[2020-12-22 02:03] arichiardi commented on #246
This has been done!

https://clojars.org/perun/versions/0.5.0-SNAPSHOT

Now every time we push a git tag to `master` - whether it is `-SNAPSHOT` or not - we will have a new version on Clojars

[2020-12-22 02:06] arichiardi commented on #241
I have refrained from pushing `0.5.0` because of the above as it is probably the next (tedious) thing we need to do

[2020-12-22 02:12] arichiardi commented on #247
Let me ask directly to @borkdude.

We have dependencies in here like:

https://github.com/hashobject/perun/blob/7d48f735e2bd66a4d93187900889ca617c5db92d/src/io/perun.clj#L403-L404

or `[org.asciidoctor/asciidoctorj "2.0.0"]` and even ` [org.apache.lucene/lucene-analyzers-common "8.4.1"]`

If we built a classpath with those in it, would babashka be able to use them all?

It's a long shot and sorry

[2020-12-22 08:48] borkdude commented on #247
@arichiardi Babashka is only able to use Java classes that have been explicitly added into the native image. If you want to create something like babashka, but for static site generation, you will probably have to make your own GraalVM native-image project. Bootleg has done something similar: https://github.com/retrogradeorbit/bootleg

At work we are currently migration away from boot and running

[2020-12-23 00:43] arichiardi commented on #247
Thank you for confirming that's what I was thinking too.

[2020-12-23 00:45] arichiardi commented on #247
Thanks for the heads up, however `perun` here does a lot more nice things than just rendering (atom, lessc, ...). That's why IMHO is worth keeping it going :smile:

[2020-12-23 03:14] arichiardi opened #254 "Exception in 0.5.0-SNAPSHOT"
Apparently the new version I pushed is broken. I will fix it.

[code]

[2020-12-24 04:19] #254 closed, assigned to nobody

[2020-12-28 00:13] podviaznikov opened #256 "Search"
Would be cool to have plugins for search.

Like this one eg https://stork-search.net

Seems very doable. Just generate search index file.

And I think there are more implementations/ideas.

[2021-03-03 00:44] podviaznikov commented on #256
and another idea https://24ways.org/2018/fast-autocomplete-search-for-your-website/

[2021-03-06 17:48] #246 closed, assigned to nobody

[2021-03-06 17:55] allentiak commented on #241
Hi,

I have said before that I didn't have much energy for working on an abandoned project like this one. For now, I'm retiring from this discussion. I will consider giving some love to this project again if/when someone else pus it back in shape.

Given the current state of affairs, I think that the best course of action for those who do want to keep on working on this (like @munen) is to fork th

[2021-03-06 17:59] allentiak commented on #246
Thanks, Andrea!

[2021-03-06 18:03] allentiak commented on #241
@arichiardi @munen Could any of you remove me from the clojars perun org, please? It seems I cannot do it by myself...

[2021-03-06 18:09] arichiardi commented on #241
@allentiak that's sad, but understandable. I removed you from Clojars.

[2021-03-06 18:10] allentiak commented on #241
Thanks, @arichiardi !

Who knows about the future? I might return one day...

[2021-03-09 00:47] podviaznikov commented on #246
amazing!

[2021-03-09 09:08] munen commented on #241
Hi @allentiak

Sorry to see you go, but I understand your rationale. Thank you very much for your contribution to the FLOSS community and all the best in your future endeavours! :pray: :bow:

See you around :wave:

[2021-03-09 16:21] podviaznikov commented on #241
@allentiak thank you for great contributions over the years 🙏

[2021-03-09 20:17] allentiak commented on #241
Thanks, @munen ! Whereas I thank you very much for your kind words, I thank you much more for your actions.

See you around!

[2021-06-29 16:25] nanoni17728 commented on #241
Hi!

I’ve been lurking around the project for a while. I’m trying to use Perun again to run my personal website so I’m trying to figure things out. Most of my contributions to other projects so far were to improve documentation and in a broader sense, user experience. Looking at the website and its list of yet to be written tutorials, and the documentation pointing to different version of Perun it

[2021-06-29 18:49] munen commented on #241
@nanoni17728 Welcome to the project :pray:

I'd be happy to pull in new documentation and tutorials!

[2021-08-02 14:37] nicorikken commented on #241
@allentiak Sorry for my late response, changes at work moved me away from Clojure, Asciidoc and also I lost interest in getting my personal website up and running. Ever since merging the Asciidoctor support I haven't run Perun, and sometimes I feel bad for merging code and not taking care to maintain. Of course Clojure code once written will forever remain current and valuable :wink: but at least